<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:ss="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-autowire="byType" default-lazy-init="true">

	<ss:http auto-config="true">
		
		<!-- 不收security管理 -->
		<ss:intercept-url pattern="/common/**" filters="none" />
		<ss:intercept-url pattern="/include/**" filters="none" />
		<ss:intercept-url pattern="/css/**" filters="none" />
		<ss:intercept-url pattern="/imags/**" filters="none" />
		<ss:intercept-url pattern="/imags_up/**" filters="none" />
		<ss:intercept-url pattern="/js/**" filters="none" />
		<!-- 所有用户都可以使用 -->
		<ss:intercept-url pattern="/index.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<ss:intercept-url pattern="/sys/user/user!preLogin.action" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<ss:intercept-url pattern="/w/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		
		<ss:intercept-url pattern="/b/**" access="ROLE_ADMIN,ROLE_PERSONAL"/>
		<ss:intercept-url pattern="/a/**" access="ROLE_ADMIN"/>

		<ss:intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />


		<ss:form-login login-page="/sys/user/user!preLogin.action"
			authentication-failure-url="/sys/user/user!preLogin.action?error=true"
			 />
		
		<ss:session-management >
			<ss:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" 	/>
		</ss:session-management>
	</ss:http>
	<!--
		<ss:authentication-manager> <ss:authentication-provider>
		<ss:user-service> <ss:user password="admin" name="admin"
		authorities="ROLE_ADMIN" /> <ss:user password="user" name="user"
		authorities="ROLE_USER" /> </ss:user-service>
		</ss:authentication-provider> </ss:authentication-manager>
	-->
	<!-- 
		<ss:authentication-manager> <ss:authentication-provider>
		<ss:jdbc-user-service data-source-ref="dataSource"
		users-by-username-query="select username,password,1 as enabled from
		ts_user where username= ? " authorities-by-username-query="SELECT
		username,role_name authority FROM ts_role ,ts_user,ts_user_role where
		ts_user.user_id = ts_user_role.user_id AND ts_user_role.role_id =
		ts_role.role_id and ts_user.username = ? " />
		</ss:authentication-provider> </ss:authentication-manager>
	-->
	<ss:authentication-manager>
		<ss:authentication-provider
			user-service-ref="userDetailsService" >
			<ss:password-encoder hash="md5">
				<ss:salt-source user-property="username"/>
			</ss:password-encoder>
			</ss:authentication-provider>
	</ss:authentication-manager>
 	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
 		<property name="basename" value="classpath:security_messages_zh_CN"/>
 	</bean>

</beans>